

body {
    font-family: Arial, sans-serif;
    background-color: #dae4d9; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
}
  
  .form {
    text-align: center;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  #text-button {
    background-color: #dae4d9;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #text-button:hover {
    background-color: #a5bfb4;
  }
  
  .title{
    height: 40%;
    font-size: x-large;
    font-weight: bold;
  }