{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'chatgtp/style.css' %}">
{% endblock %}
<form action="chat" method="post" entype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <div id="file-module-0">
        <label>chatgtp에게 요청하기</label>
        <textarea id="question" name="question" placeholder="대화는 질문 버튼, 그림을 그려달라고 할때는 그림요청을 누르세요."></textarea>
    </div>
    <div>
        <label>응답</label>
        <span id="result"></span>
    </div>
    <div><button id="text-button" type="button" >질문</button></div>
    <div><button id="image-button" type="button" >그림요청</button></div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $('#text-button').on('click', function(e) {
        e.preventDefault();
        data = {'question':$('#question').val(), 'type':'text'}
        $.ajax({
            type:'POST',
            url:'chat',
            data:data,
            success:function(result){
                console.log("data pass success",result);
                $('#result').text(result);
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
            }
       });
    });

    $('#image-button').on('click', function(e) {
        e.preventDefault();
        data = {'question':$('#question').val(), 'type':'image'}
        $.ajax({
            type:'POST',
            url:'chat',
            data:data,
            success:function(result){
                console.log("data pass success",result);
                {% comment %} result = '<img src="data:image/png;base64,'+result+'" />'; {% endcomment %}
                imageTag = '<img src="'+result+'" />';
                $('#result').html(imageTag);
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
            }
       });
    });

    
    
    </script>