{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'gtp/chatgpt_style.css' %}">
    <main class="d-flex align-items-center justify-content-center" style="height: 80vh;">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h2 id='langquestiontitle' class="mb-4">ChatGPT에게 질문하기</h2>
                    <form action="chat" method="post" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        <div class="mb-3">
                            <textarea class="form-control" id="langpquestion" name="question" placeholder="질문을 입력해주세요." rows="4"></textarea>
                        </div>
                        <button class="btn btn-outline-secondary" id="langtextbutton" type="submit">질문</button>
                    </form>
                </div>
             </div>
        </div>
    </main>
{% endblock %}

