{% extends 'layout.html' %}

{% block content %}
    <!-- Main -->
    <main class="flex-grow-1">
        <div class="container my-4">
            <h1>Django</h1>
            <p><a href="https://www.djangoproject.com/" target="_blank">Django</a>는 Python으로 작성된 오픈 소스 웹 프레임워크로, 빠르고 쉬운 웹 개발을 가능하게 합니다.</p>
            <ul>
                <li class="nav-item"><a class="nav-link" href="/chatgpt/">ChatGPT API 사용</a></li>
                <li class="nav-item"><a class="nav-link" href="/signlanguagetochatgpt/">수어-ChatGPT 연동</a></li>
                <li class="nav-item"><a class="nav-link" href="/selfchatgpt/">내가 만든 ChatGPT API 사용</a></li>
                <li class="nav-item"><a class="nav-link" href="/selfsignlanguagetochatgpt/">내가 만든 수어-ChatGPT 연동</a></li>
            </ul>
        </div>
    </main>
{% endblock %}