{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <!-- Main -->
    <main class="flex-grow-1">
        <section class="py-5 container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="img-fluid rounded" src="{% static 'images/sign-language.webp' %}" alt="sign-language">
            </div>
            <div class="col-lg-6 col-md-8 mx-auto d-flex flex-column justify-content-center">
                <h1 class="fw-bold text-center mb-5">수어를 통한 ChatGPT 대화</h1>
                <p class="lead text-body-secondary">&nbsp;&nbsp;새로운 기술의 결합으로 탄생한 수어를 이용한 ChatGPT 대화 서비스입니다. 이 서비스는 수어 사용자들이 ChatGPT와 손쉽게 대화할 수 있도록 합니다. 이 서비스를 통해 사용자들은 수어로 질문하거나 대화를 진행할 수 있으며, ChatGPT가 이를 인식해 실시간으로 응답합니다. 수어 사용자들에게 새로운 정보 접근 방식을 제공하며, 기술의 포용성을 한 단계 높이고 있습니다. ChatGPT를 사용하여 수어를 사용해서 대화해 보세요!</p>
            </div>
            </div>
        </section>
    
        <div class="container custom-container">
            <div class="row justify-content-center my-5">
                <!-- ChatGPT -->
                <div class="col-5">
                    <a href="/chatgpt/" class="text-decoration-none text-secondary main-down-text">
                        <div class="border rounded p-5" style="border-color: grey;">
                            <div class="row justify-content-start mb-4">
                                <img class="img-fluid rounded" src="{% static 'images/gpt.png' %}" alt="ChatGPT" style="width: auto; max-height: 120px;">
                            </div>
                            <div class="row justify-content-start mb-2">
                                <span class="fw-bold">ChatGPT</span>
                            </div>
                            <div class="row justify-content-start">
                                <p>ChatGPT를 사용하여 언어 모델과 대화하세요.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-1"></div>

                <!-- Sign Language ChatGPT -->
                <div class="col-5">
                    <a href="/signlanguagetochatgpt/" class="text-decoration-none text-secondary main-down-text">
                        <div class="border rounded p-5" style="border-color: grey;">
                            <div class="row justify-content-start mb-4">
                                <img class="img-fluid rounded" src="{% static 'images/hand.png' %}" alt="Sign Language ChatGPT" style="width: auto; max-height: 120px;">
                            </div>
                            <div class="row justify-content-start mb-2">
                                <span class="fw-bold">수어 ChatGPT</span>
                            </div>
                            <div class="row justify-content-start">
                                <p>수어와 ChatGPT를 연동하여 수어로 대화하세요.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}